/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px;
}
.nav-tittle{
    font-size: 45px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a {
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.secondary-bg{
    background-color: #FFF8F3;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
        color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}
.banner-greatings{
    font-weight: 600;
    font-size: 40px;
}
.banner-title{
    font-weight: bold;
    font-size: 80px;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.section-title{
    font-weight: bold;
    font-size: 30px;
    color: #181818;
}
.section-description{
color: 757575;
font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    padding: 130px 155px ;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    color: #474747 ;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
}
.item-tittle{
    margin-bottom: 0;
}
.text-center{
    text-align: center;
}
.skill-container{
    display: flex;
    column-gap: 24px;

}
.skill{
    padding: 30px;
    border-radius: 5px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-container{
    display: flex;
    gap: 30px;
   
}
.section-item{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
}
.resume-colum-title{
    font-weight: bold;
    font-size: 30px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
}
.experience-sub-title{
    font-weight:500;
    font-size: 20px;
    margin-bottom: 15px;
}
.sudipto{
    text-align: center;
    margin-top: 50px;
}
.experience-description {
    color: #757575;
}